body {
    margin: 0px;
    padding: 0px;
}

.banner {
    height: 750px;
}

.bannerimg {
    position: absolute;
}

.bannerinfo {
    position: relative;
    top: 250px;
    left: 1425px;
    width: 315px;
    text-align: right;
}

.btn {
    background-color: rgb(226, 128, 63);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.maincontent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.maininfo {
    width: 600px;
}

.listinfo {
    display: flex;
    align-items: center;
}

.planslist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gradient {
    height: 200px;
    width: 1400px;
    margin: auto;
    color: white;
    padding-top: 40px;
    padding-left: 35px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(247, 120, 16) , rgb(236, 219, 204));
}
.callbtn{
    background-color: white;
    color: rgb(211, 107, 10);
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.footer {
    background-color: black;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.socialicon {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

::placeholder {
    color: white;
}

.subsbtn {
    background-color: white;
    color: rgb(243, 151, 14);
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
}

.footerinfo {
    width: 450px;
}

.resume{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 50px;
}
.resumeinfo {
    width: 450px;
    text-align: center;
}